:root {
  background-color: cornsilk;
}

.container {
  display: block;
  //padding-left: 100px;
  //padding-right: 100px;
}

.title-bar {
  height: 40px;
  border: 1px solid gray;
  display: flex;
  flex-direction: row;
  font-size: x-large;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  border: 1px solid grey;
  margin: 5px;
  background-color: cornsilk;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  height: calc(100vh - 110px);
  //height: calc(100vh - 100px);

  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: cornsilk;
  border-top: 1px solid gray;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: footer;
  font-size: xx-small;
  height: 40px;
  //border: 1px solid black;
  //margin: 5px;
  background-color: white;
  background-color: cornsilk;
  border-radius: 5px;
  //border: 1px solid gray;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
}

.grid-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
}

.title-text {
  font-size: x-large;
}

a:active {
  color: blue;
}

.main-title {
  font-size: larger;
}

.footer-text-container {
  width: 100px;
  max-width: 100px;
}

.footer-text-container p {
  text-align: center;
}

.grid-footer-controls {
  padding-top: 5px;
}

.ag-theme-alpine {
  height: 85%;

  --ag-header-height: 30px;
  --ag-header-column-separator-display: block;
  --ag-header-column-separator-height: 100%;
  --ag-header-column-separator-width: 1px;
  --ag-header-column-separator-color: lightgray;

  --ag-header-column-resize-handle-display: block;
  --ag-header-column-resize-handle-height: 100%;
  --ag-header-column-resize-handle-width: 5px;
  --ag-header-column-resize-handle-color: orange;
}
